/*消息弹窗盒子*/
.cs-ProductCard-background{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:auto;
    height:840px;
    background:transparent;
    z-index:999;
    transition:all 0.5s ease-out;
    transform: scale(0);

}
.cs-ProductCard-x{
    width:300px;
    height:600px;
    border-radius: 25px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:1000;
    background-color: rgba(255,248,220,0.9);
    box-shadow:3px 3px 4px rgba(0,0,0,0.1);
    user-select:none;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

/*返回按钮*/
.cs-ProductCard-button{
    width:75px;
    height:30px;
    background-color:lightblue;
    transition:0.1s ease;
    border-radius:5px;
    box-shadow:2px 3px 4px rgba(0,0,0,0.1);
    font-size:20px;
    color:white;
    text-align: center;
    line-height:30px;
    margin-bottom:20px;
}
.cs-ProductCard-button:active{
    box-shadow:2px 3px 4px rgba(0,0,0,0.1);
    transform:scale(0.9);
    opacity:0.7;
}
.cs-ProductCard-img-x{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin-bottom:20px;
}
.cs-ProductCard-img-x > img{
    max-width: 275px;
    max-height: 275px;
    min-width: 100px;
    min-height:100px;
    border-radius: 50%;
}