

/**客人反馈盒子*/
.cs-GuestResponse-x{
    height:840px;
    width:auto;
    background:url("../../svg/交换申请.png");
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/*标题盒子*/

.cs-GuestResponse-header{
    width:100vw;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    background: #FFFEF0;
    
    margin-top:0px;
}
/*标题*/
.cs-GuestResponse-header > h1{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-shadow: 2px 2px 4px rgba(255, 248, 213,0.1);
    color: #594F35;
}
/*返回icon*/
.cs-GuestResponse-back{
    position:absolute;
    left:10px;
    top:10px;
    width: 64px;
    height: 30px;
    background: #F3DA9F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.cs-GuestResponse-back > p{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;

    color: #594F35;
}
/*标题盒子*/
.cs-GuestResponse-title{
    align-self: flex-start;
}
.cs-GuestResponse-title > p{
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #594F35;
    white-space: pre;
}
/*商户商品的盒子**/
.cs-GuestResponse-product{
    width:auto;
    height:400px;
    padding:30px 10px;
    margin:10px 0px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
/*交换显示盒子*/
.cs-GuestResponse-product-exchange{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin:20px 0px;
}
/*交换icon*/
.cs-GuestResponse-product-exchange > img{
    height:50px;
    width:50px;
}
/*交换图片*/
.cs-GuestResponse-exchange{
    width:110px;
    height:110px;
    border-radius: 15px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.1);
    margin-bottom:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #F3DA9F;
}
.cs-GuestResponse-exchange > img{
    width:90px;
    height:90px;
    border-radius: 10px;
}
.cs-GuestResponse-exchange > p{
    font-size: 16px;
}
/*商品描述*/
.cs-GuestResponse-product-describe{
    font-size:18px;
    font-weight:100;
    margin-bottom:10px;
    color:white;
}
.cs-GuestResponse-product-title{
    color:white;
    font-size: 28px;
    text-shadow:2px 3px 3px rgba(0,0,0,0.1);
    align-self:flex-start;
    margin-bottom:10px;
}   
h2{
    align-self: flex-start;
}
/*客人评价*/
.cs-GuestResponse-appraiseContent{
    background-color:cornsilk;
    width:300px;
    min-height:200px;
    max-height: 300px;
    margin:10px;
    margin-bottom:25px;
    padding:10px;
    border-radius:10px;
    overflow: scroll;
}
.cs-GuestResponse-content{
    width:250px;
    overflow:scroll;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.45);
}
/*按钮盒子*/

.cs-GuestResponse-button-x{
    width:324px;
    height:59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*按钮*/
.cs-GuestResponse-button-agree{
    width: 130px;
    height: 59px;
    background: #F3DA9F;
    border: 4px solid #C0A96C;
    box-shadow: 4px 4px 4px 2px rgba(199, 182, 137, 0.2);
    border-radius: 10px;
    text-align: center;
}
.cs-GuestResponse-button-reject{
    width: 130px;
    height: 59px;
    background: #F3DA9F;
    border: 4px solid #C0A96C;
    box-shadow: 4px 4px 4px 2px rgba(199, 182, 137, 0.2);
    border-radius: 10px;
    text-align: center;
}