/*初始化*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
  height:100%;
  width:100%;
}
body{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
#root{
    margin:10px 0px;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  
}


